body{
    background-color: #000;
    color: #fff;
    margin: 0;
}

img{
    width: 100%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:pink;
    height: 80px;
}

nav a{
    color: black;
    font-size: 25pt;
    text-decoration: none;

}